<%# if message.body %>
  <%# user = User.find(message.user_id) %>
  <!-- <div class="header"><strong><%#= user.first_name %></strong> <%#= message.message_time %></div> -->
  <%# if message.user_id == current_user.id %>
    <!-- <p class="me msg"> -->
      <%#= message.body %>
      <!-- <small class="me-msg-time"><%#= message.message_short_time %></small> -->
    <!-- </p> -->
  <%# else %>
    <!-- <p class="them msg"> -->
      <%#= message.body %>
      <!-- <small class="them-msg-time"><%#= message.message_short_time %></small> -->
    <!-- </p> -->
  <%# end %>
<%# end %>


<% if message.body %>
  <% if user_is_messages_author %>
    <!-- before it used to be like below -->
  <%# if message.user_id == current_user.id %>

    <p class="me msg">
      <%= message.body %>
    </p>
    <small class="me-msg-time"><%= message.message_time.split(", ")[1] %></small>

  <% else %>
    <p class="them msg">
      <%= message.body %>
    </p>
    <small class="them-msg-time"><%= message.message_time.split(", ")[1] %></small>
  <% end %>
<% end %>

