// Specific CSS for your home-page
.homepage {
  background-color: #FFFFFF;
  text-align: center;

  p {
  margin-top: 16px;
  }

  .home-bg {
    // background: url('soundsgood.png');
    background-size: cover;
    background-position: center;
    min-height: 60vh;

  }

}




