
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= banner_or_fallback(@user)%>')">
  <div class="container">
    <% if @user == current_user %>
      <a class="btn profile" href="#">Dancing with myself</a>
    <% else %>
      <a class="btn profile" href="#">Jam with <%= @user.first_name %></a>
    <% end %>
  </div>
</div>
