<li class="notification ml-1 border-bottom">
    <strong><%= link_to notification.user.first_name, user_path(notification.user) %></strong>
      <%= link_to "followed you!", user_path(notification.user) %>
    <div class=" font-weight-light font-italic" style="font-size: 12px">(<%= time_ago_in_words(notification.created_at) %> ago)</div>

    <%#= link_to notification_path(notification), method: :delete do %>
        <!-- <i class="fas fa-trash-alt"></i> -->
    <%# end %>

</li>
