<body class="homepage">
  <div class="home-bg"></div>
  <div>
    <%= link_to "Login", new_user_session_path, class: "btn home login" %>
    <p>OR</p>
    <%= link_to "Explore", home_path, class: "explore" %>
  </div>
</body>
