<body class="homepage">
  <div class="home" style="background-image: url('https://bit.ly/2ZGrly0'); background-size: cover; background-position: center; min-height: 60vh">
  </div>
  <div style="text-align: center">
    <%= link_to "Login", new_user_session_path, class: "btn home login" %>
    <p>OR</p>
    <%= link_to "Explore", home_path, class: "explore" %>
  </div>
</body>
