
.banner {
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
  padding-top: 120px;
  margin-bottom: 12px;
}

.banner h1 {
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner.message {
  background-color: $primary;
  position: sticky;
}

.profile-bar {
  margin-top: -5px;
  margin-bottom: 5px;
  align-items: center;
}

.profile-page {
  margin: 20px 10px;
}

.profile-search {
  margin: 40px 40px 20px;
}
