a.btn.home.login {
  background-color: $primary;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 8px 80px;
}


a.btn.home.explore {
  background-color: white;
  color: $primary;
  font-size: 20px;
  border-radius: 25px;
  padding: 8px 70px;
  border: solid 1px;
}

a.btn.cancel {
  background-color: $danger;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  padding: 6px 40px;
}

a.btn.profile {
  background-color: $primary;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 6px 30px;
}

.youtube {
  border-radius: 25px;
  border-color: $primary;
}

.btn.send {
  border-radius: 25px;
  border-color: $info !important;
  background-color: $info !important;
}

.btn.home {
  background-color: $primary;
  color: white;
  border-radius: 25px;
}


.btn-spotify {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  background-color: rgb(29, 185, 84);
  color: rgb(255, 255, 255) !important;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 500px;
  padding: 17px 48px;
  text-decoration: none !important;
  font-family: Circular, Helvetica, Arial, sans-serif;
  width: auto;
  box-sizing: border-box;
}

.btn-spotify:hover {
  background-color: #1ED760;
}

#add-photo {
  border: none;
  background-color: white;
  font-size: 20px;
  color: #FAA916;
  display: inline;
}

.btn {
  background-color: #FAA916;
}

.btn.btn-outline-info {
  background-color: transparent;
}

