a.btn.home {
  background-color: $primary;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 8px 40px;
}

a.btn.profile {
  background-color: $primary;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 8px 30px;
}

a.explore {
  color: $primary;
  font-weight: bolder;
  font-size: 20px;
}

.youtube {
  border-radius: 25px;
}
