.chat {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
  background: white;
  width: 100%;
  font-size: 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.chat .chat-content {
  flex-grow: 1;
}

.chat p {
  margin: 0;
  line-height: 1.4;
}

.chat .time {
  font-size: 12px;
  color: #999999;
}

.chat small {
  color: #999999;
  // font-weight: bold;
  font-size: 14px;
}
.chat .chat-actions {
  opacity: 0.5;
  // display: flex;
  transition: ease .3s;
  text-align: right;
  .time {
    font-size: 12px;
  }
}

// .chat:hover .chat-actions {
//   opacity: 1;
// }

.chat .body-trash a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

// .chat .chat-actions a:hover {
//   color: #555555;
// }

// .chat-page{
//   background-color: white;
//   // border-radius: 10px;
// }

.message {
  padding: 10px;
  color: white;

  h5 {
    margin: 0;
  }

  .back {
    width: 50px;
    display: flex;
    align-items: center;

    a {
      i {
        color: white;
      }
    }
  }

  .recipient {
    display: flex;
    align-items: center;
    width: auto;
  }
}



.messages {
  font-family: "Helvetica Neue";
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-right: 14px;


  p {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    word-wrap: break-word;
    margin-bottom: 2px;
    line-height: 24px;
    position: relative;
    padding: 4px 12px;
    border-radius: 22px;
    font-size: 18px;

    &:before, &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      height: 20px;
    }
  }

  .me {
    color: white;
    background: $primary;
    align-self: flex-end;

    &:before {
      right: -7px;
      border-right: 20px solid $primary;
      border-bottom-left-radius: 16px 14px;
      transform: translate(0, -2px);
    }

    &:after {
      right:-56px;
      width:26px;
      background: white;
      border-bottom-left-radius: 10px;
      transform:translate(-30px, -2px);
    }

  }

  .me-msg-time {
    align-self: flex-end;
    background-color: transparent;
    color: rgba(0,0,0,0.2);
    font-size: 70%;
    margin-bottom: 8px;
  }

  .them {
    background: #E5E5EA;
    color: black;
    align-self: flex-start;

    &:before {
      left: -7px;
      border-left: 20px solid #E5E5EA;
      border-bottom-right-radius: 16px 14px;
      transform: translate(0, -2px);
    }

    &:after {
      left: 4px;
      width: 26px;
      background:white;
      border-bottom-right-radius: 10px;
      transform: translate(-30px, -2px);
    }

  }

  .them-msg-time {
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.2);
    font-size: 70%;
    margin-bottom: 8px;
  }

  .field{
    background-color: $primary;
    color: white;
  }

  .form-control{
    background-color: $primary;
  }

}

.new_message {
  width: 90%;
}
