.chat {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 12px;
  background: white;
  width: 100%;
  font-size: 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.chat .chat-content {
  flex-grow: 1;
}

.chat p {
  margin: 0;
  line-height: 1.4;
}

.chat .time {
  font-size: 12px;
  color: #999999;
}

.chat small {
  color: #999999;
  // font-weight: bold;
  font-size: 14px;
}
.chat .chat-actions {
  opacity: 0.5;
  // display: flex;
  transition: ease .3s;
  text-align: right;
  .time {
    font-size: 12px;
  }
}

// .chat:hover .chat-actions {
//   opacity: 1;
// }

.chat .body-trash a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

// .chat .chat-actions a:hover {
//   color: #555555;
// }

.me {
 align-self: flex-end;
 background-color: $primary;
 color: white;
}

.them{
  background:#E5E5EA;
  color:black;
}

.chat-page{
  background-color: aliceblue;
  // border-radius: 10px;
  margin: 20px;
}

.message{
  padding: 10px;
}

@use postcss-nested;
body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
  max-width: 450px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.chat-lines {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position:relative;
  padding:10px 20px;
  border-radius: 25px;
}


