.form-auth {
  background-color: transparent;
  padding: 20px 20px;
  margin: 10% auto;
  display: block;
  position: relative;
  text-align: center;
  // border-radius: 3px;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;

  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $primary;
    color: white;
  }

  .btn-spotify {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgb(29, 185, 84);
    color: rgb(255, 255, 255) !important;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    padding: 12px 48px;
    text-decoration: none !important;
    font-family: Circular, Helvetica, Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
  }

  .btn-spotify:hover {
    background-color: #1ED760;
  }
}

.form-auth::after {
  content: "";
  background: url('soundsgood.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  // min-height: 60vh;
  opacity: 0.1;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.forgot-password {
  display: inline-block;
  text-align: right;
  width: 100%;
}


.form-control {
  background-color: #F7F4F4 !important;
  border-radius: 25px;
}

.cream {
  background-color: #F7F4F4 !important;
}

.form-actions {
  .btn-form {
    border-radius: 25px !important;
  }
}
