/* horizontal scrolling*/

:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  padding-bottom: 10px;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
  padding-left: 0;
  padding-bottom: 30px;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}


/* Demo styles */

// html,
// body {
//   height: 100%;
// }

// body {
//   display: grid;
//   place-items: center;
//   background: #456173;
// }

// ul {
//   list-style: none;
//   padding: 0;
//   font-size: 10px;
//   text-align: center;
//   text-transform: uppercase;
// }

// h1,
// h2,
// h3 {
//   margin: 0;
// }

.app {
  width: 100%;
  background-color: transparent;
  overflow-y: scroll;
  ul {
    list-style: none;
    padding: 0;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    margin: 0;
    text-transform: uppercase;
  }
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  margin-bottom: 2px;
  width: 135px;
  position: relative;

  .plus {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
    background-color: #F1F3F4;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    a {
      color: black;
    }
  }

}

.item.fav-user {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.fav-box {
  grid-auto-columns: calc(50% - var(--gutter) * 6);
  grid-template-rows: minmax(0, 1fr);

  p {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
  }
}


.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.spotify-preview {
  height: 15px;
  width: 150px;
  padding-right: 24px;
}

.last-track {
  height: 135px;
  width: 135px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 0;
  display: inline-block;
  position: relative;

  .plus {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
    background-color: #F1F3F4;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    a {
      color: black;
    }
  }
}
