.col-form-label{
  color: rgb(250, 169, 22) !important;
  font-weight: bold;
}

.form-control-label{
  color: rgb(250, 169, 22) !important;
  font-weight: bold;
}

.form-control.is-valid {
  border-color: #DEE2E6;
  background-image: url() !important;
  }

.user_instruments{
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 15px;
}
