.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

/* Style the header */
.header {
  background: white;
  color: #f1f1f1;
  z-index: 9999;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 9px;
  }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.active{
  opacity: 1 !important;
  border-bottom: 3px solid black;
}


#audio-btn{
  padding-bottom: 3px;
}
#video-btn{
  padding-bottom: 3px;
}
#bio-btn{
  padding-bottom: 3px;
}
#influences-btn{
  padding-bottom: 3px;
}
