#photo-form{
  visibility: hidden;
}


.user_instruments .form-check{
  display: inline-block;
  padding-right: 1.25rem;
}

.user_genres .form-check{
  display: inline-block;
  padding-right: 1.25rem;
}
