.ytp-title-channel-logo {
  display: none !important;
}

.ytp-icon {
  display: none !important;
}

.ytp-title-text {
  display: none !important;
}

.video_buttons {
  // min-width: 150px;
  // max-width: 225px;
  width: 68px;
  height: 48px;
  padding: 0;
  border-radius: .7rem;
  background: rgba(228,228,228,0.8);
  text-align: center;

  i {
    font-size: 40px;
    color: #faa916;
    opacity: 0.8;
  }
}

.main-video .video-bin {
  opacity: 0;
}

.main-video:hover .video-bin {
  opacity: 1;
}

.video-bin {
  i {
  color: #0E0000;
  opacity: 0.8;
  }

  a {
    color: #0E0000;
    opacity: 0.5;
  }
}
